@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  font-family: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito", sans-serif;
}
html,
body {
  overflow: hidden;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}
